{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>NeoEats - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">NeoEats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav ml-auto">

                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item {% if url_name == 'menu' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>

                <li class="nav-item {% if url_name == 'book_table' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'book_table' %}">Book a table</a>
                </li>

                <li class="nav-item dropdown {% if url_name == 'about' or url_name == 'about_story' or url_name == 'about_gallery' or url_name == 'about_collaborations' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="{% url 'about' %}" role="button" data-toggle="dropdown"
                        aria-expanded="false">About us</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'about' %}">About NeoEats</a>
                        <a class="dropdown-item" href="{% url 'about_gallery' %}">Gallery</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'about_collaborations' %}">Working With Our Farmers</a>
                    </div>
                </li>

            </ul>
            {% endwith %}
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer-map">
        <p class="all-rights">&copy; 2025 NeoEats. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>