{% extends "base.html" %}

{% block title %}Our collaborations with farmers{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>From Farm To Table</h1>
    <p>
        We pride ourselves on sourcing the freshest ingredients directly from local farmers. Our partnerships with these
        dedicated individuals not only ensure the highest quality produce for our dishes but also support sustainable
        farming practices that benefit our community and the environment. By working closely with our farmers, we can
        offer seasonal menus that highlight the best of what each season has to offer.

    </p>
</div>
{% endblock %}