{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class='container mt-4'>
    <h1>Gallery</h1>

    <div class='row'>

        {% for img in images %}
        <div class='col-md-4 mb-3'>

            {# Display the image with alt text from the database #}
            <img src='{{ img.image.url }}' 
                 alt='{{ img.title }}' 
                 class='img-fluid rounded'>

            <h5>{{ img.title }}</h5>

            <p>{{ img.description }}</p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
